.portfolioArea{

  margin-top: 20px;
  background: gainsboro;

}
.portfolioImgs{

  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.portfolioText{
  padding-top: 5%;
}
a {
  color: #E91E63;
}
